#Overview{
    /*Main Overview Chart*/
    height: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#PTMCountMolView{
    /*PTM Count with click interaction*/
    border-style: solid;
    border-color: black;
    border-width: 1px;
}