body{
    font-family: Arial, system-ui, sans-serif;
    background-color: #dbdbdb;
}

/*Sections made for Input, Overview, Protein Selection, ...*/
section{
    margin: 1.5%;
    width: 95%;
}

/*Buttons for changing datasets/comparative view + Container*/
#DualModeViewSelector{
    display: none;
    font-size: 0px;
    align-items: center;
    justify-content: center;
}

.ViewSelectorButton{
    background-color: rgb(150, 159, 167);
    margin-left: -1px;
    margin-right: -1px;
    border-style: solid;
    border-color: black;
    color: black;
    font-size: large;
}

.ViewSelectorButton:hover{
    background-color: rgb(159, 162, 196);
}

.ViewSelectorButton#ViewSelectorLeft{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 20%;
}

.ViewSelectorButton#ViewSelectorMiddle{
    width: 20%;
}

.ViewSelectorButton#ViewSelectorRight{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 20%;
}



/*Sections*/
#AboutSection{
    background-color: #bdbdbd;
}

#InputSection{
    background-color: #bdbdbd;
}

#input-data-set-2{
    display: none;
}


#OverviewSection{
    background-color: #bdbdbd;
    display: none;
}

#ProteinSelectionSection{
    background-color: #bdbdbd;
    display: none;
}

#ProteinDetailsSection{
    background-color: #bdbdbd;
    display: none;
}

#ModificationDetailsSection{
    background-color: #bdbdbd;
    display: none;
}

#input-data-container{
    display: flex;
}


/*
Important for correct select 2 multi select display:
*/
.select2-results__option {

  white-space: nowrap;

}

/*
Important for correct select 2 multi select display:
*/
.select2.select2-container {

  width: 100% !important;

}
