body{
    background-color: #dbdbdb;
}

/*Sections made for Input, Overview, Protein Selection, ...*/
section{
    margin: 0.5%;
}

/*TODO: Buttons for changing datasets/comparative view*/
#ModeSelector{
    border: 1px solid black;
}

/*Sections*/
#AboutSection{
    background-color: #969696;
}

#InputSection{
    background-color: #969696;
}

#OverviewSection{
    background-color: #969696;
}

#ProteinSelectionSection{
    background-color: #969696;
}

#ProteinDetailsSection{
    background-color: #969696;
}

#ModificationDetailsSection{
    background-color: #969696;
}