<!DOCTYPE html>
<html>

<head>
    <title>PTMVision</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/select2.min.css">

    <!-- Javascript -->
    <!-- JS-Libraries -->

    <!-- JQuery as requirement + easier js code -->
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <!-- Select2 for multi select -->
    <script src="../static/js/select2.min.js"></script>
    <!-- Fontawesome for the looks -->
    <script src="https://kit.fontawesome.com/df04f22e3d.js"></script>
    <!-- Apache ECharts for chart display -->
    <script src="../static/js/echarts-6.0.0.min.js"></script>
    <!-- Axios for requests -->
    <script src="../static/js/axios-1.1.2.min.js"></script>
    <!-- Pako for zlib handling -->
    <script src="../static/js/pako-2.1.0.min.js"></script>



    <!-- Flask style
    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"
	></script>

    <script
			type="text/javascript"
			src="https://kit.fontawesome.com/df04f22e3d.js"
			crossorigin="anonymous"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/echarts-6.0.0.min.js')}}"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/axios-1.1.2.min.js')}}"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/pako-2.1.0.min.js')}}"
	></script>
    -->


    <!-- Scripts -->
    <script src="../static/js/ptmvision-1.1.main.js"></script>
    <script src="../static/js/ptmvision-1.1.global.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/select2-display.js"></script>
    <script src="../static/js/ptmvision-show-hide-elements.js" defer></script> <!-- defer required, else null error-->

    <!-- Flask readable style:
    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/ptmvision-1.1.main.js')}}"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/ptmvision-1.1.global.js')}}"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='js/navbar.js')}}"
	></script>

    <script
			type="text/javascript"
			src="{{url_for('static', filename='ptmvision-show-hide-elements.js')}}"
            defer
	></script> defer required, else null error-->

</head>

<body>

    <!--Navigation Menu-->
    <div id="Navigation" class="navigation">
        <nav id="NavBlock" class="navigation">
            <h1>PTM Vision</h1>

            <p>Navigation:</p>
            <ul id="SiteNavigation">
                <!-- TODO: Maybe change to scrollTo function from ptmvision-global.js -->
                <li><a href="#AboutSection">About</a></li>
                <li><a href="#InputSection">Input</a></li>
                <li><a href="#OverviewSection">Overview</a></li>
                <li><a href="#ProteinSelectionSection">Protein Selection</a></li>
                <li><a href="#ProteinDetailsSection">Protein Details</a></li>
                <li><a href="#ModificationDetailsSection">Modification Details</a></li>
            </ul>

            <p>Links:</p>
            <ul id="HTMLNavigation">
                <li><a href="./usage_guide.html">Guide</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./legal_information.html">Legal Information</a></li>
            </ul>

            <!--mode selection dataset 1/2 or comparative mode-->
            <div id="DualModeViewSelector">
                <button id="ViewSelectorLeft" class="ViewSelectorButton">1</button>
                <button id="ViewSelectorMiddle" class="ViewSelectorButton">C</button>
                <button id="ViewSelectorRight" class="ViewSelectorButton">2</button>
            </div>

            <!-- Close Button for the Navigation Menu-->
            <button id="NavCloseButton" onclick="closeNavBar()">Close</button>

        </nav>

        <!--Button/Image for opening the Side Navigation Bar (transparent - for bg add button around it)-->
        <a>
            <img src="../static/resources/icon_64.png" id="NavOpenButton" onclick="openNavBar()">
        </a>
    </div>

    <main id="MainContent">

        <!--Structured in sections:-->
        <section id="AboutSection">
            <h1>About</h1>
            <h2><strong>PTMVision</strong></h2>
            <h3>Interactive Exploration of Post Translational Modifications</h3>
            <img src="../static/resources/abstract.png"
                alt="Workflow representation of PTMVision from data upload to visualizations."
                style="width: 60%; display: block; margin:auto" />
            <hr>
            <p>
                PTMVision supports the upload of PTM data from various proteomics search engines, the mzIdentML
                standard
                or manually compiled CSV files.
                Receive a quantitative and qualitative assessment of the PTMs across all proteins in your data; and
                get
                an overview of all available proteins from your data, complemented with associated PTMs.
                For selected proteins, investigate detailed information on the occurrence of PTMs along the primary
                protein sequence and in a spatial structural context.
            </p>
            <hr>
            <button data-role="hint" data-hint-position="right"
                data-hint-text="Start an example session with data from the Bio+MedVis Challenge @IEEE VIS 2022"
                onclick="startExampleSession('ptmvision.example.biomedvis2022.plain')">
                Try Example
            </button>
            <!--Empty line at the end of section (looks better)-->
            <p>&nbsp</p>
        </section>

        <section id="InputSection">
            <h1>Input</h1>

            <p>

            </p>

            <hr>
            <!-- Select if one or two Datasets should be used here (Comparative on/off)! Effects rendering of the later form part!-->
            <p>Use comparative mode with two data sets?</p>
            <input type="checkbox" id="dual-mode-switch" name="dual-mode-switch" onclick="inputHider(); showDualModeViewSelector()" />
            <hr>

            <!-- DATA INPUT FORM HERE: -->
            <!-- TODO: Edit-->
            <div id="input-data-container">

                <!-- INPUT of Dataset 1 -->
                <form id="input-data-set-1">
                    <!-- Menu for Data input type selection: Dataset 1 -->
                    <select id="data-type-form" data-role="select">
                        <optgroup label="Search Engine">
                            <option value="ionbot">ionbot</option>
                            <option value="msfragger">MSFragger</option>
                            <option value="sage">Sage (Closed Search)</option>
                            <option value="msms">MaxQuant (Closed Search)</option>
                            <option value="spectronaut">Spectronaut (PTM Site Report)</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="csv">Plain/CSV</option>
                            <option value="mzid">mzIdentML (.mzid)</option>
                            <option value="pamod">PeptideAtlas (Modification Matrix)</option>
                            <option value="infer">Infer/psm_utils</option>
                        </optgroup>
                    </select>

                    <br>
                    <!-- File upload Dataset 1 -->
                    <input id="data-input-form" type="file" data-role="file" />
                    <br>

                    <!-- Exclude Classes -->
                    <!-- TODO: Styling-->
                    <select id="data-excludecls-form-set-1" class="data-excludecls-form-class" data-role="select"
                        multiple="multiple">
                        <optgroup label="Other">
                            <option value="Chemical derivative">Chemical derivative</option>
                            <option value="Artefact">Artefact</option>
                            <option value="Synth. pep. protect. gp.">
                                Synth. pep. protect. gp.
                            </option>
                            <option value="Isotopic label">Isotopic label</option>
                            <option value="Other">Other</option>
                            <option value="AA substitution">AA substitution</option>
                            <option value="Unannotated mass shift">
                                Unannotated mass shift
                            </option>
                            <option value="Deprecated unimod entry">
                                Deprecated unimod entry
                            </option>
                            <option value="Non-standard residue">Non-standard residue</option>
                            <option value="Multiple">Multiple</option>
                        </optgroup>
                        <optgroup label="Translational">
                            <option value="Post-translational">Post-translational</option>
                            <option value="Co-translational">Co-translational</option>
                            <option value="Pre-translational">Pre-translational</option>
                        </optgroup>
                        <optgroup label="Glycosylation">
                            <option value="N-linked glycosylation">
                                N-linked glycosylation
                            </option>
                            <option value="O-linked glycosylation">
                                O-linked glycosylation
                            </option>
                            <option value="Other glycosylation">Other glycosylation</option>
                        </optgroup>
                        <optgroup label="Cross-Link">
                            <option value="Cross-link">Cross-link</option>
                            <option value="CID cleavable cross-link">
                                CID cleavable cross-link
                            </option>
                            <option value="Photo cleavable cross-link">
                                Photo cleavable cross-link
                            </option>
                            <option value="Other cleavable cross-link">
                                Other cleavable cross-link
                            </option>
                        </optgroup>
                    </select>
                </form>

                <hr id="input-data-y-line">

                <!-- INPUT of Dataset 2 -->
                <form id="input-data-set-2">
                    <!-- Menu for Data input type selection: Dataset 2 -->
                    <select id="data-type-form" data-role="select">
                        <optgroup label="Search Engine">
                            <option value="ionbot">ionbot</option>
                            <option value="msfragger">MSFragger</option>
                            <option value="sage">Sage (Closed Search)</option>
                            <option value="msms">MaxQuant (Closed Search)</option>
                            <option value="spectronaut">Spectronaut (PTM Site Report)</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="csv">Plain/CSV</option>
                            <option value="mzid">mzIdentML (.mzid)</option>
                            <option value="pamod">PeptideAtlas (Modification Matrix)</option>
                            <option value="infer">Infer/psm_utils</option>
                        </optgroup>
                    </select>

                    <br>
                    <!-- File upload Dataset 2 -->
                    <input id="data-input-form-2" type="file" data-role="file" />
                    <br>

                    <!-- Exclude Classes -->
                    <!-- TODO: Styling-->
                    <select id="data-excludecls-form-set-2" class="data-excludecls-form-class" data-role="select"
                        multiple="multiple">
                        <optgroup label="Other">
                            <option value="Chemical derivative">Chemical derivative</option>
                            <option value="Artefact">Artefact</option>
                            <option value="Synth. pep. protect. gp.">
                                Synth. pep. protect. gp.
                            </option>
                            <option value="Isotopic label">Isotopic label</option>
                            <option value="Other">Other</option>
                            <option value="AA substitution">AA substitution</option>
                            <option value="Unannotated mass shift">
                                Unannotated mass shift
                            </option>
                            <option value="Deprecated unimod entry">
                                Deprecated unimod entry
                            </option>
                            <option value="Non-standard residue">Non-standard residue</option>
                            <option value="Multiple">Multiple</option>
                        </optgroup>
                        <optgroup label="Translational">
                            <option value="Post-translational">Post-translational</option>
                            <option value="Co-translational">Co-translational</option>
                            <option value="Pre-translational">Pre-translational</option>
                        </optgroup>
                        <optgroup label="Glycosylation">
                            <option value="N-linked glycosylation">
                                N-linked glycosylation
                            </option>
                            <option value="O-linked glycosylation">
                                O-linked glycosylation
                            </option>
                            <option value="Other glycosylation">Other glycosylation</option>
                        </optgroup>
                        <optgroup label="Cross-Link">
                            <option value="Cross-link">Cross-link</option>
                            <option value="CID cleavable cross-link">
                                CID cleavable cross-link
                            </option>
                            <option value="Photo cleavable cross-link">
                                Photo cleavable cross-link
                            </option>
                            <option value="Other cleavable cross-link">
                                Other cleavable cross-link
                            </option>
                        </optgroup>
                    </select>
                </form>
            </div>


            <p>

            </p>

            <!-- Button for sending data for processing to the server -->
            <button id="SubmitInputButton" onclick="startSession(); showOverviewAndProtSelect()">Submit</button>
            <!-- TODO: edit startSession() [ptmvision-main.js]-->
        </section>

        <section id="OverviewSection">
            <h1>Overview</h1>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                dolore eu feugiat nulla facilisis.

                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam
                diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet
                clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum
                dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat.

                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                gubergren, no sea takimata sanctus.

                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>

        </section>

        <section id="ProteinSelectionSection">
            <h1>Protein Selection</h1>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>


            <button id="ConfirmProteinSelectionButton" onclick="showProteinDetails()">Confirm Selection</button>
        </section>

        <section id="ProteinDetailsSection">
            <h1>Protein Details</h1>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>

            <button id="ShowModDetailsButton" onclick="showModificationDetails()">Show Modification</button>
        </section>

        <section id="ModificationDetailsSection">
            <h1>Modification Details</h1>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </section>
    </main>

</body>

</html>