<!DOCTYPE html>
<html>

<head>
    <title>PTMVision</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/ptmvision-mainstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ptmvision-header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dual-mode-button-style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/tabulator-6.1.0.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ptmvision-overview.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ptmvision-protein.css">

    <!-- Javascript -->
    <!-- JS-Libraries -->

    <!-- JQuery as requirement + js code -->
    <script src="../static/js/lib-jquery-3.7.1.min.js"></script>
    <!-- Select2 for multi select -->
    <script src="../static/js/lib-select2.min.js"></script>
    <!-- Apache ECharts for chart display -->
    <script src="../static/js/lib-echarts-6.0.0.min.js"></script>
    <!-- Axios for requests -->
    <script src="../static/js/lib-axios-1.13.5.min.js"></script>
    <!-- Pako for zlib handling -->
    <script src="../static/js/lib-pako-2.1.0.min.js"></script>
    <!-- Tabulator for Tables-->
    <script src="../static/js/lib-tabulator-6.1.0.min.js"></script>
    <!-- 3Dmol for 3D molecule display-->
    <script src="../static/js/lib-3Dmol-2.1.0.min.js"></script>



    <!-- Scripts -->
    <script src="../static/js/ptmvision-1.1.global.js" defer></script>
    <script src="../static/js/ptmvision-other.js" defer></script>
    <script src="../static/js/ptmvision-colors.js" defer></script>
    <script src="../static/js/ptmvision-chart.js" defer></script>               <!--Contains Chart class-->
    <script src="../static/js/ptmvision-chartfunctions.js"></script>
    <script src="../static/js/ptmvision-session.js" defer></script>             <!-- Contains session control related functions-->
    <script src="../static/js/ptmvision-overview.js" defer></script>            <!-- Contains content for the overview section-->
    <script src="../static/js/ptmvision-proteinview.js" defer></script>         <!-- Contains content for the proteinview section-->
    <script src="../static/js/ptmvision-dashboard.js" defer></script>           <!-- Contains content for the dashboard section-->
    <script src="../static/js/ptmvision-nav.js" defer></script>
    <script src="../static/js/select2-display.js"></script>
    <script src="../static/js/ptmvision-dualmode.js" defer></script>
    <script src="../static/js/ptmvision-selectview.js" defer></script>
    <script src="../static/js/ptmvision-show-hide-elements.js" defer></script> 
    <script src="../static/js/molview-lib.js" defer></script>
    <!-- defer required, else null error-->

</head>

<body onload="init()">

    <!-- Header for notifications and dual mode status -->
    <header>
        <section id="HeaderSecLogo" class="headerSec">
            <!-- PTM VISION LOGO HERE -->
            <img src="../static/resources/logo_lucid_512_text.png" alt="PTMVision logo text line">
        </section>
        <section id="HeaderSecError" class="headerSec">
            <!-- Should be used to display error messanges -->
            <p></p>
        </section>
        <section id="HeaderSecSpace" class="headerSec">
            <!-- Works as a Spacer Section -->
        </section>
        <section id="HeaderSecDataset" class="headerSec">
            <!-- Display the currently selected dataset if dual mode is on -->
            <div id="HeaderSecDSTextContainer">
                <p>
                    Selected View
                </p>
                <div id="Selection">
                    <p>
                        Comparative
                    </p>
                </div>
            </div>
        </section>
        <section id="HeaderSecDualStatus" class="headerSec">
            <!-- Display the dual mode status (on/off) -->
            <p>Dual Mode</p>
            <div id="DualModeStatusDot">
                <!-- Displays the status of dual mode through a colored (red = off, green = on) dot -->
            </div>
        </section>
    </header>


    <!--Navigation Menu-->
    <div id="Navigation" class="navigation">
        <nav id="NavBlock" class="navigation">

            <h3>Navigation:</h3>
            <ul id="SiteNavigation">
                <!-- TODO: Maybe change to scrollTo function from ptmvision-global.js -->
                <li><a href="#AboutSection">About</a></li>
                <li><a href="#InputSection">Input</a></li>
                <li><a href="#OverviewSection">Overview</a></li>
                <li><a href="#ProteinSelectionSection">Protein Selection</a></li>
                <li><a href="#ProteinDetailsSection">Protein Details</a></li>
                <li><a href="#ModificationDetailsSection">Modification Details</a></li>
            </ul>

            <h3>Links:</h3>
            <ul id="HTMLNavigation">
                <li><a href="./usage_guide.html">Guide</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./legal_information.html">Legal Information</a></li>
            </ul>

            <!--mode selection dataset 1/2 or comparative mode-->
            <h3 id="ViewSelectorHeading">Select Mode:</h3>
            <div id="ViewSelector">
                <button class="ViewSelButtons" id="LeftViewSelButton" onclick="selectView('1');">1</button>
                <button class="ViewSelButtons" id="MiddleViewSelButton" onclick="selectView('C');">C</button>
                <button class="ViewSelButtons" id="RightViewSelButton" onclick="selectView('2');">2</button>
            </div>

            <!-- Close Button for the Navigation Menu-->
            <button id="NavCloseButton" onclick="closeNavBar()">Close</button>

        </nav>

        <!--Button/Image for opening the Side Navigation Bar (transparent - for bg add button around it)-->
        <a>
            <img src="../static/resources/icon_64.png" id="NavOpenButton" onclick="openNavBar()">
        </a>
    </div>

    <main id="MainContent">

        <!--Structured in sections:-->
        <section id="AboutSection">
            <h1>About</h1>
            <h2><strong>PTMVision</strong></h2>
            <h3>Interactive Exploration of Post Translational Modifications</h3>
            <img src="../static/resources/abstract.png"
                alt="Workflow representation of PTMVision from data upload to visualizations."
                style="width: 60%; display: block; margin:auto" />
            <hr>
            <p>
                PTMVision supports the upload of PTM data from various proteomics search engines, the mzIdentML
                standard
                or manually compiled CSV files.
                Receive a quantitative and qualitative assessment of the PTMs across all proteins in your data; and
                get
                an overview of all available proteins from your data, complemented with associated PTMs.
                For selected proteins, investigate detailed information on the occurrence of PTMs along the primary
                protein sequence and in a spatial structural context.
            </p>
            <hr>
            <!--Empty line at the end of section (looks better)-->
            <p>&nbsp</p>
        </section>

        <section id="InputSection">
            <h1>Input</h1>

            <p>

            </p>

            <hr>
            <!-- Select if one or two Datasets should be used here (Comparative on/off)! Effects rendering of the later form part!-->
            <p>Use comparative mode with two data sets?</p>
            <input type="checkbox" id="DualmodeSwitch" onclick="dualModeChangeState()" />
            <hr>

            <!-- DATA INPUT FORM HERE: -->
            <div id="input-data-container">

                <!-- INPUT of Dataset 1 -->
                <form id="input-data-set-1">
                    <label for="data-name-1">Data name:</label>
                    <input type="text" id="data-name-1">
                    <button type="button" onclick="changeDataName(1)">Change Name</button>
                    <br>
                    <br>
                    <!-- Menu for Data input type selection: Dataset 1 -->
                    <select id="data-type-form-1" data-role="select">
                        <optgroup label="Search Engine">
                            <option value="ionbot">ionbot</option>
                            <option value="msfragger">MSFragger</option>
                            <option value="sage">Sage (Closed Search)</option>
                            <option value="msms">MaxQuant (Closed Search)</option>
                            <option value="spectronaut">Spectronaut (PTM Site Report)</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="csv">Plain/CSV</option>
                            <option value="mzid">mzIdentML (.mzid)</option>
                            <option value="pamod">PeptideAtlas (Modification Matrix)</option>
                            <option value="infer">Infer/psm_utils</option>
                        </optgroup>
                    </select>

                    <br>
                    <!-- File upload Dataset 1 -->
                    <input id="data-input-form-1" type="file" data-role="file" />
                    <br>

                    <!-- Mass shift tolerance 1 -->
                    <label for="data-tolerance-form-1">
                        Mass Shift Tolerance
                    </label>
                    <input id="data-tolerance-form-1" name="data-tolerance-form-1" type="number" min="0" max="10"
                        step="0.001" value="0.001" />

                    <!-- Exclude Classes -->
                    <select id="data-excludecls-form-set-1" class="data-excludecls-form-class" data-role="select"
                        multiple="multiple">
                        <optgroup label="Other">
                            <option value="Chemical derivative">Chemical derivative</option>
                            <option value="Artefact">Artefact</option>
                            <option value="Synth. pep. protect. gp.">
                                Synth. pep. protect. gp.
                            </option>
                            <option value="Isotopic label">Isotopic label</option>
                            <option value="Other">Other</option>
                            <option value="AA substitution">AA substitution</option>
                            <option value="Unannotated mass shift">
                                Unannotated mass shift
                            </option>
                            <option value="Deprecated unimod entry">
                                Deprecated unimod entry
                            </option>
                            <option value="Non-standard residue">Non-standard residue</option>
                            <option value="Multiple">Multiple</option>
                        </optgroup>
                        <optgroup label="Translational">
                            <option value="Post-translational">Post-translational</option>
                            <option value="Co-translational">Co-translational</option>
                            <option value="Pre-translational">Pre-translational</option>
                        </optgroup>
                        <optgroup label="Glycosylation">
                            <option value="N-linked glycosylation">
                                N-linked glycosylation
                            </option>
                            <option value="O-linked glycosylation">
                                O-linked glycosylation
                            </option>
                            <option value="Other glycosylation">Other glycosylation</option>
                        </optgroup>
                        <optgroup label="Cross-Link">
                            <option value="Cross-link">Cross-link</option>
                            <option value="CID cleavable cross-link">
                                CID cleavable cross-link
                            </option>
                            <option value="Photo cleavable cross-link">
                                Photo cleavable cross-link
                            </option>
                            <option value="Other cleavable cross-link">
                                Other cleavable cross-link
                            </option>
                        </optgroup>
                    </select>
                </form>

                <hr id="input-data-y-line">

                <!-- INPUT of Dataset 2 -->
                <form id="input-data-set-2">
                    <!-- Input Name Default "Data2"-->
                    <label for="data-name-2">Data name:</label>
                    <input type="text" id="data-name-2">
                    <button type="button" onclick="changeDataName(2)">Change Name</button>
                    <br>
                    <br>
                    <!-- Menu for Data input type selection: Dataset 2 -->
                    <select id="data-type-form-2" data-role="select">
                        <optgroup label="Search Engine">
                            <option value="ionbot">ionbot</option>
                            <option value="msfragger">MSFragger</option>
                            <option value="sage">Sage (Closed Search)</option>
                            <option value="msms">MaxQuant (Closed Search)</option>
                            <option value="spectronaut">Spectronaut (PTM Site Report)</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="csv">Plain/CSV</option>
                            <option value="mzid">mzIdentML (.mzid)</option>
                            <option value="pamod">PeptideAtlas (Modification Matrix)</option>
                            <option value="infer">Infer/psm_utils</option>
                        </optgroup>
                    </select>

                    <br>
                    <!-- File upload Dataset 2 -->
                    <input id="data-input-form-2" type="file" data-role="file" />
                    <br>

                    <!-- Mass shift tolerance 2 -->
                    <label for="data-tolerance-form-2">
                        Mass Shift Tolerance
                    </label>
                    <input id="data-tolerance-form-2" name="data-tolerance-form-2" type="number" min="0" max="10"
                        step="0.001" value="0.001" />

                    <!-- Exclude Classes -->
                    <select id="data-excludecls-form-set-2" class="data-excludecls-form-class" data-role="select"
                        multiple="multiple">
                        <optgroup label="Other">
                            <option value="Chemical derivative">Chemical derivative</option>
                            <option value="Artefact">Artefact</option>
                            <option value="Synth. pep. protect. gp.">
                                Synth. pep. protect. gp.
                            </option>
                            <option value="Isotopic label">Isotopic label</option>
                            <option value="Other">Other</option>
                            <option value="AA substitution">AA substitution</option>
                            <option value="Unannotated mass shift">
                                Unannotated mass shift
                            </option>
                            <option value="Deprecated unimod entry">
                                Deprecated unimod entry
                            </option>
                            <option value="Non-standard residue">Non-standard residue</option>
                            <option value="Multiple">Multiple</option>
                        </optgroup>
                        <optgroup label="Translational">
                            <option value="Post-translational">Post-translational</option>
                            <option value="Co-translational">Co-translational</option>
                            <option value="Pre-translational">Pre-translational</option>
                        </optgroup>
                        <optgroup label="Glycosylation">
                            <option value="N-linked glycosylation">
                                N-linked glycosylation
                            </option>
                            <option value="O-linked glycosylation">
                                O-linked glycosylation
                            </option>
                            <option value="Other glycosylation">Other glycosylation</option>
                        </optgroup>
                        <optgroup label="Cross-Link">
                            <option value="Cross-link">Cross-link</option>
                            <option value="CID cleavable cross-link">
                                CID cleavable cross-link
                            </option>
                            <option value="Photo cleavable cross-link">
                                Photo cleavable cross-link
                            </option>
                            <option value="Other cleavable cross-link">
                                Other cleavable cross-link
                            </option>
                        </optgroup>
                    </select>
                </form>
            </div>


            <p>

            </p>

            <!-- Button for sending data for processing to the server -->
            <button id="SubmitInputButton" onclick="startSession(); showOverviewAndProtSelect()">Submit</button>
        </section>

        <section id="OverviewSection">
            <h1>Overview</h1>
            <div id="Overview"></div>
            <div id="PTMCountMolView"></div>
        </section>

        <section id="ProteinSelectionSection">
            <h1>Proteins</h1>

            <div id="ProtTableTitle"></div>
            <div id="ProtTable">
                <!-- Legacy Table representation-->
            </div>

            <br>
            <div id="SortProtTree">
                <!-- Selection and button for sorting the treemap-->
                <select name="InputSortProtTree" id="InputSortProtTree">
                    <option value="Modified_positions">Modified positions</option>
                    <option value="Unique_modifications">Unique modifications</option>
                    <option value="Protein_length">Protein length</option>
                </select>
                <button id="TriggerSortProtTree" onclick="proteinChartSortOptChange()">Change</button>
            </div>

            <br>

            <div id="ProteinTreemap">
                <!-- Protein Treemap here!-->
            </div>
            <br>

            <div id="ProteinSelectionText">
                <!-- Shows which protein has been selected-->
            </div>


            <button id="ConfirmProteinSelectionButton" onclick="showDashboard()">Confirm Selection</button>
        </section>

        <section id="DashboardSection">
            <h1>Dashboard</h1>

            <div id="DashboardChart1"></div>
            <div id="DashboardChart2"></div>

        </section>

    </main>

</body>

</html>